/* we need to make the parent
elements use the whole height
before the map can do the same*/
html, body{
  height: 100%;
  font-family: Helvetica, sans-serif;
}

/* Size of the map */
#map{
  width: 100%;
  height: 98%;
}


/* This is defining the visuals for the distance button. The one below is how it should look, when they are hidden  */
#map .easy-button-button{
  transition-duration: .3s;
  position: relative;
  border-radius: 4px;
  border: solid 0px transparent; }

#map .easy-button-button.disabled {
  height: 0;}

/* This is the defining the visuals for the popup in case of no location data */
#hidden{
  float: left;
  margin-left: 100px;
  padding: 10px;
  background-color: red;
  color: white;
  font-weight normal;
  display: none;
}
